body {
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:darkgrey;
}
#top-head {
    text-align: center;
    text-shadow: seagreen;
    font-weight: bolder;
    
}
#grade-list {
    background-color: bisque;
    align-content: center;
    
}
#note {
    color: red;
}
